body{ background:#ececec!important;}
.container{
    width: 55%;
    margin: 0 auto;
    border: 0px solid black;
    padding: 10px 0px;
}
.card-img, .card-img-bottom, .card-img-top{width:50%!important;  display: block; margin:0 auto;}
.preis{float:left;}


/* Load more */
.load-more{
    width: 99%;
    background: #15a9ce;
    text-align: center;
    color: white;
    padding: 10px 0px;
    font-family: sans-serif;
}

.load-more:hover{
    cursor: pointer;
}